<%- include("../partials/html-head.ejs")  %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">
<%- include("../partials/nav.ejs") %>  

<h1>Edit Flight</h1>
<form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
  <label>Airline:
    <input type="text" name="airline" value="<%= flight.airline %>">
  </label>
  <label>Airport:
    <select name="airport">
      <option value="" selected disabled hidden><%= flight.airport %></option>
      <option value="DEN">DEN</option>
      <option value="JFK">JFK</option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
    </select>
  </label>
  <label>Flight #:
    <input type="number" name="flightNo" value="<%= flight.flightNo %>">
  </label>
  <label>Departs:
    <input type="date" name="departs" value="<%= departureDate %>">
  </label>
  <button type="submit">Save Flight</button>
</form>

<%- include("../partials/footer.ejs") %>  