<%- include("../partials/html-head.ejs")  %> 
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include("../partials/nav.ejs") %>  

  <section class="show-info">
    <div>
      <h1>Flight #: <%= flight.flightNo %></h1>
      <h3>Airline: <%= flight.airline %></h3>
      <h3>Airport: <%= flight.airport %></h3>
    </div>
    <div>
      <h3>Menu:</h3>
      <ul>
        <% flight.meals.forEach(meal => { %>
          <li><%= meal.name %></li>
        <% }) %>
      </ul>
    </div>
    <div>
      <label>Add Meal:
        <form action="/flights/<%= flight._id%>/meals" method="POST">
          <select name="mealId">
            <% meals.forEach(meal => { %>
              <option value="<%= meal._id %>"><%= meal.name %></option>
            <% }) %>
          </select>
        <button type="submit">to Flight Menu</button>
        </form>
      </label>
    </div>
  </section>

  <section class="seat-info">
    <h3 id="seat">Seats:</h3>
    <div class="seat-show"> 
      <table>
        <thead>
          <tr>
            <th>Seat</th>
            <th>Price</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td> <%= ticket.seat %></td>
            <td> <%= ticket.price %></td>
            <td>
              <form action="/flights/<%= flight._id%>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="add-seat">
      <form action="/flights/<%= flight._id %>/tickets" method="POST" autocomplete="on">
        </label>
        <label>Seat:
          <input type="String" name="seat" placeholder="A1 - F99">
        </label>
        <label>Price:
          <input type="Number" name="price" value="179">
        </label>
        <button type="submit">Add Ticket</button>
      </form>
    </div>
    <a href="/flights/<%= flight._id %>/edit">edit</a>
    <a href="/flights">Go Back</a>
  </section>


<%- include("../partials/footer.ejs") %>